#nav {
	/* width: 60em; */ /* 1000 */
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	/* position: absolute;
	top: 25%;
	left: 50%;
	margin-left: -30em; 30 480 */
}

#nav>a {
	display: none;
}

#nav li {
	position: relative;
}

#nav li a {
	color: #fff;
	display: block;
}

#nav li a:active {
	background-color: #27537e !important;
}

#nav span:after {
	width: 0;
	height: 0;
	border: 0.313em solid transparent; /* 5 */
	border-bottom: none;
	border-top-color: #fff;
	content: '';
	vertical-align: middle;
	display: inline-block;
	position: relative;
	right: -0.313em; /* 5 */
}

/* first level */
#nav>ul {
	height: 3.5em; /* 60 */
	background-color: #336ca6;
}

#nav>ul>li {
	/* width: 20%; */
	height: 100%;
	float: left;
}

#nav>ul>li>a {
	height: 100%;
	width: 100%;
	font-size: 1.2em; /* 24 */
	line-height: 2.8em; /* 60 (24) */
	text-align: center;
	padding: 0 36px;
}

#nav>ul>li/* :not(:last-child) */ > a {
	border-left: 1px solid #27537e;
}

#nav>ul>li:last-child > a{
	border-right: 1px solid #27537e;
}


#nav>ul>li>ul {
	margin-right: -1px;
}

#nav>ul>li:last-child>ul{
	margin-right: 0px;
}

#nav>ul>li:hover>a {
	/* background-color: #27537e; */
	background: rgba(0,0,0,0.2);
}

#nav>ul:not(:hover) > li.active>a {
	background-color: #27537e;
}

/* second level */

#nav li ul {
	background-color: #27537e;
	display: none;
	position: absolute;
	top: 100%;
}

#nav li ul li {
	width: 100%;
}

#nav li:hover ul {
	display: block;
	width: 250px;	/* remove to get full parent width */
	left: 0;
	right: 0;
}

#nav li:not ( :first-child ):hover ul {
	left: -1px;
}

#nav li ul a {
	font-size: 1.15em; /* 20 */
	border-top: 1px solid #336ca6;
	padding: 0.6em; /* 15 (20) */
}

#nav li:hover ul li:first-child a {
	font-size: 1.15em; /* 20 */
	border-top: 1px solid #27537e;
	/* padding: 0.75em; 15 (20) */
	padding: 0.6em;
}

#nav li ul li a:hover{
	background-color: #336ca6;
}

#nav li ul:not ( :hover ) li.active a {
	background-color: #27537e;
}

@media only screen and ( max-width: 62.5em ) /* 1000 */ {
	#nav {
		width: 100%;
		position: static;
		margin: 0;
	}
}

@media only screen and ( max-width: 40em ) /* 640 */ {

	#nav {
		position: relative;
		top: auto;
		left: auto;
	}
	
	#nav>a {
		width: 3.125em;
		height: 3.125em;
		text-align: left;
		text-indent: -9999px;
		background-color: #27537e;
		position: relative;
	}
	#nav>a:before, #nav>a:after {
		position: absolute;
		border: 2px solid #fff;
		top: 35%;
		left: 25%;
		right: 25%;
		content: '';
	}
	#nav>a:after {
		top: 60%;
	}
	#nav:not(:target) > a:first-of-type {
		display: block;
	}
	
	#nav:target>a:last-of-type {
		display: block;
	}

	/* first level */
	#nav>ul {
		height: auto;
		display: none;
		position: absolute;
		left: 0;
		right: 0;
	}
	#nav:target>ul {
		display: block;
	}
	#nav>ul>li {
		width: 100%;
		float: none;
	}
	#nav>ul>li>a {
		height: auto;
		text-align: left;
		padding: 0 0.833em; /* 20 (24) */
	}
	#nav>ul>li:not ( :last-child ) > a {
		border-right: none;
		border-bottom: 1px solid #27537e;
	}

	/* second level */
	#nav li ul {
		position: static;
		padding: 1.25em; /* 20 */
		padding-top: 0;
	}
}