/** Normalize components
*	@author vinhdp
*	@date 2016-01-29
*/

/* Override bootstrap styles*/
html{
	/* font-size: 1.4em; */
	
}

body{
	background: rgba(0,0,0,0.01);
	font-size: 16px!important;
}

a:focus, a:hover {
    text-decoration: none;
}

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
  box-shadow: 0 !important;
}

#site-logo{
	max-height: 100px;
}

.panel, .list-group {
	-webkit-box-shadow: 0 !important;
       -moz-box-shadow: 0 !important;
          box-shadow: none;
}

.panel-primary {
	border: 0px;
}

.page-header {
	border-bottom: 1px solid #3498db;
	font-size: 0.75em;
}

.post-item:hover {
	/* color: #27537e; */
}

.post-item:hover a {
	color: #3498db;	
}

.post-item a{
	color: #000;
}

/* vinhdp definition */
.entry-meta {
	color: #9f9f9f;
	font-size: 0.9em;
}

.page-info .entry-meta{
	font-size: 1em;
}

.btn-flat {
    filter:progid:DXImageTransform.Microsoft.Gradient(enabled='false');
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-image:none;
}

.btn-no-border{
	border: 0;
}

.center{
	text-align: center;
	margin: 0 auto;
}

.img-profile {
	padding: 2px;
}

#new-post > div {
	
	padding-right: 0px;
}

#new-post > div > div{
	
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
}

#new-post > div .img-responsive {
	
	padding-right: 5px;
}

.related-content > div > div {
	
	padding-right: 0px;
	padding-bottom: 10px;
} 

.related-content .img-responsive {
	
	padding-right: 5px;
}

.post-item > div > div:nth-child(1), .post-item > div:nth-child(1) {
	padding-right: 0px;
}

.post-item > div > div:nth-child(2), .post-item > div:nth-child(2){
	padding-left: 5px;
}

.no-border {
	border: 0px!important;
}

/* Override default.css for prettyprint  */
.prettyprint {
	border-radius: 0px;
	margin-top: 10px;
	display: block;
    overflow: auto;
    width: auto;
    /* max-height: 600px; */
    white-space: pre;
    word-wrap: normal;
}
.prettyprint .linenums {
	padding-left: 35px;
	width: auto;
}

.prettyprint .linenums li {
	
	list-style: decimal;
	background: inherit;
}

/* Override Push Menu styles*/
.container {
	background: none;
}

/* log system theme styles*/
.codrops-search {
	padding: 5px 10px;
}

/* override bootstrap tabs */
.nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #666; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{/* padding:20px */}

.card {/* background: #FFF none repeat scroll 0% 0%; */ /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);  margin-bottom: 30px;*/ }

@media screen and (max-width: 62em){
	.codrops-search {
		text-align: center;
	}
	
	.codrops-search img{
		margin: 0 auto;
	}
	
	.codrops-search .container > div > div:not(:first-child) {
		padding-top: 5px;
	}
}

@media screen and (min-width: 62em){
	.codrops-search .container > div > div:not(:first-child) {
		padding-top: 30px;
	}
}

.codrops-search input{
	border-radius: 0px;
}

.codrops-nav {
	background: #336ca6;
}

.codrops-submenu li{
	text-align: left;
	padding: 1px 0px;
}

.codrops-submenu{
	min-height: 1px;
}

.codrops-content .page-header{
	margin-top: 0px;
}

.codrops-content .page-header h1, .codrops-content .page-header h2{
	margin: 0 auto;
}

.codrops-footer{
	padding: 10px;
}

.codrops-footer, .codrops-footer a {
	background: #27537e;
	color: #fff;
}

.codrops-footer .list-group{
	border: none;
}

.codrops-footer .list-group-item{
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color:  #224971;
}

.codrops-copyright{
	background: #224971;
	color: #fff;
	padding: 10px 10px;
}

/* override bootstrap styles */
.btn, .form-control {
	border-radius: 0px;
}

ol, ul {
	margin: 0px;
}

#nav li ul {
	z-index: 9999;
}

.panel, .list-group-item {
	background: inherit;
	border-radius: 0;
}

.list-group-item {
	border: 0px;
	border-color: transparent;
	padding: 10px 10px;
}
.related-content{
	padding: 10px;
}

.related-content > div {
	padding: 0px;
}

.related-content > div.page-header{
	margin: 10px 10px;
}

/* Override component.css */
.container {
	overflow: inherit;
	padding: 0;
}

.sidebar .panel-heading {
	font-size: 1.7em;
	font-weight: 400;
	text-align: center;
}

.sidebar .list-group-item .col-md-3{
	padding-right: 0;
}

#breadcrumb {
  list-style: none;
  /* display: inline-block; */
}
#breadcrumb .icon {
  font-size: 14px;
}
#breadcrumb li {
  float: left;
}
#breadcrumb li a {
  color: #FFF;
  display: block;
  background: #3498db;
  text-decoration: none;
  position: relative;
  /* height: 40px;
  line-height: 40px; */
  height: 30px;
  line-height: 30px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
}
#breadcrumb li:nth-child(even) a {
  background-color: #2980b9;
}
#breadcrumb li:nth-child(even) a:before {
  border-color: #2980b9;
  border-left-color: transparent;
}
#breadcrumb li:nth-child(even) a:after {
  border-left-color: #2980b9;
}
#breadcrumb li:first-child a {
  padding-left: 15px;
  /* -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px; */
}
#breadcrumb li:first-child a:before {
  border: none;
}
#breadcrumb li:last-child a {
  padding-right: 15px;
  /* -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0; */
}
#breadcrumb li:last-child a:after {
  /* border: none; */
}
#breadcrumb li a:before, #breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #3498db;
  /* border-width: 20px 10px; */
  border-width: 15px 10px;
  width: 0;
  height: 0;
}
#breadcrumb li a:before {
  left: -20px;
  border-left-color: transparent;
}
#breadcrumb li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #3498db;
}
#breadcrumb li a:hover {
  background-color: #1abc9c;
}
#breadcrumb li a:hover:before {
  border-color: #1abc9c;
  border-left-color: transparent;
}
#breadcrumb li a:hover:after {
  border-left-color: #1abc9c;
}
#breadcrumb li a:active {
  background-color: #16a085;
}
#breadcrumb li a:active:before {
  border-color: #16a085;
  border-left-color: transparent;
}
#breadcrumb li a:active:after {
  border-left-color: #16a085;
}

/* Add a border between individual search results */
.gs-webResult {
    border-bottom: 1px solid #eee;
}

/* Hide the Google branding in search results */
.gcsc-branding {
    display: none; 
}

/* Hide the thumbnail images in search results */
.form .gsc-thumbnail {
    display: none;
}

.gs-snippet{
	
	padding-left: 8px;
	padding-right: 0px;
}

.gs-fileFormat {
	padding-left: 4px;
}

.gsc-option-menu-container, .gsc-selected-option-container {
	min-width: 100px!important;
}

input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
    background-color: #337ab7 !important;
    background-image: url("http://www.google.com/uds/css/v2/search_box_icon.png") !important;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    filter: none;
}

input.gsc-search-button:hover {
	background-color: #265a88!important;	
}
input.gsc-input{
	/* margin-top: 4px!important; */
}

.gsc-input {
	height: 20px!important;
	padding-right: 0px!important;
}

.gsib_a, .gsst_b{
	padding: 4px 8px 4px 8px;
}

span.gscb_a{
	margin-top: 8px;
}

.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus,
.gsc-search-button {
    line-height: normal;
    min-height: 34px;
}

/* My Styles */
.no-padding {
	padding: 0px;
}

/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
		
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
		
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
		
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
		
    }



    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
		
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
    	.no-padding{
			padding: 10px;
		}
		.sidebar .no-padding {
                padding: 0px 10px 10px 10px;
        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
		
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }
    
    /* Extra Small Devices, Phones support rotate*/ 
    @media only screen and (max-width : 640px) {
		
    }
    
    
/* styles for '...' */ 
.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative; 
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 3.6em; 
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;  
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
}
/* create the ... */
.block-with-text:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.block-with-text:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}

.codrops-search .input-group {
	display: inherit;
}

.fb-comments, .fb-comments * {
    width:100% !important;
}

.h2, h2 {
    font-size: 2em;
    line-height: inherit;
}

.h3, h3 {
    font-size: 1.5em;
    line-height: inherit;
}

.sidebar .post-item {
	padding-bottom: 10px;
}

.post-item:hover img {
	opacity: .7;
}

#nav ul,
#nav ol,
.codrops-submenu ul, .codrops-submenu ol
{
	list-style: none;
	border: 0;
	padding: 0;
	margin: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        line-height: inherit;
}
