/** Normalize components
*	@author vinhdp
*	@date 2016-01-29
*/

.control-menu {
    padding: 0px 0px 2px 0px;
}

.form-group.has-error * {
	color: #dd4b39;
}

.center{
	text-align: center;
	margin: 0 auto;
}

.no-padding {
	
	padding: 0px;
}

.p-b-5{
	padding-bottom: 5px;
}
